:root {
    --header-width: 485px;
}

.container {
    margin: 0 auto;
}

textarea {
    resize: none;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

table th,td {
    font-size: 12px;
    word-break : break-all;
}

#header_table thead tr {
    top: 25px;
    z-index: 2;
}

#view_part {
    width: 99%;
    height: 700px;
    top: 0px;
    left: 1%;
    position: relative;
}

#header_table {
    position: absolute;
    width: var(--header-width);
    left: 0px;
    table-layout: fixed;
}

#view_part_data {
    position: absolute;
    left: var(--header-width);
    top: 0px;
    width: calc(99% - var(--header-width));
    overflow-x: scroll;
}

#data_table {
    max-height: 120%;
    width: 3200px;
    word-wrap: break-word;
    table-layout: fixed;
}

#page_selecter {
    width: 500px;
    position: absolute;
    display: none;
}

#header_table tbody.scrollBody::-webkit-scrollbar{
    display: none;
    height: 100%;
}

thead.scrollHead,tbody.scrollBody{
  display:inline-block;
}
tbody.scrollBody{
  overflow-y:scroll;
  height:500px;
}

.view_part_item {
    height: 32px;
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background: #dadea7;
}

tr:nth-child(even) {
    background: #ebefba;
}

tr.table_titles {
    height: 75px;
    font-size: 16px;
    color: white;
    background-color: #838b0d;
}

.sort_button {
    width: 16px;
    height: 16px;
    bottom: 0px;
    padding: 0px;
    font-size: 8px;
}

.id-column {
    width: 38px;
}

.content-column {
    width: 140px;
}

.status-column {
    width: 160px;
}

.priority-column {
    width:  70px;
    text-align: center;
}

.grace-column {
    width: 50px;
}

.category-column {
    width: 90px;
}

.division-column {
    width: 80px;
}

.url-column {
    width: 224px;
}

.date-column {
    width: 90px;
}

.day_count-column {
    width: 56px;
}

.comment-column {
    width: 300px;
}

.verification-history-column {
    width : 200px;
}

.author-column {
    width: 150px;
}

.point-column {
    width: 50px;
}

.complete_column {
    width: 80px;
}

.complete {
    text-align: center;
}

.record_text {
    padding-left: 4px;
}

.input_part textarea,input {
    width: 90%;
    height: 40px;
    font-size: 12px;
}

.input {
    vertical-align: middle;
    text-align: center;
}

.submit {
    text-align: center;
}

ul > li {
    padding: 3px 0;
}
