:root {
    --header-width: 350px;
}

.container {
    margin: 0 auto;
}

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Verdana, sans-serif;
}

table th,td {
    font-size: 12px;
}

#view_part {
    width: 99%;
    top: 0px;
    position: relative;
    left: 1%;
}

#view_part_header {
    position: absolute;
    width: var(--header-width);
    left: 0px;
    table-layout: fixed;
}

#view_part_data {
    position: absolute;
    left: var(--header-width);
    top: 0px;
    width: calc(99% - var(--header-width));
    overflow-x: scroll;
    table-layout: fixed;
}

#view_part_data table {
    width: 2800px;
}

#page_selecter {
    position: absolute;
    display: none;
}

.view_part_item {
    height: 32px;
    word-wrap: break-word;
}

tr:nth-child(odd) {
    background: #dadea7;
}

tr:nth-child(even) {
    background: #ebefba;
}

tr.table_titles {
    height: 40px;
    font-size: 16px;
    color: white;
    background-color: #838b0d;
}

.sort_button {
    width: 16px;
    height: 16px;
    bottom: 0px;
    padding: 0px;
    font-size: 8px;
}

.id_row {
    width: 38px;
}

.priority-row {
    width:  70px;
    text-align: center;
}

.category_row {
    width: 80px;
}

.division_row {
    width: 80px;
}

.url_row {
    width: 224px;
}

.date_row {
    width: 90px;
}

.day_count_row {
    width: 56px;
}

.comment_row {
    width: 300px;
}

.complete {
    text-align: center;
}

.record_text {
    padding-left: 4px;
}

.input_part textarea,input {
    width: 95%;
    height: 40px;
    font-size: 12px;
}

.input {
    vertical-align: middle;
    text-align: center;
}

.submit {
    text-align: center;
}

ul > li {
    padding: 3px 0;
}
